<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>main-content</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/main-content.css">
	
</head>
<body>

<h1 class="page-header">{{title}}</h1>

{% for html in htmldocs %}
<p>{{html.help_}}</p>
<div class="demo bg-dark ">
  <div class="demohead"><span>示例代码</span></div>
  <div class="demoleft"></div>
  <div class="democont">
      <pre><code>{{html.code}}</code></pre>
  </div>
</div>
{% endfor %}

</body>
</html>